.herosection {
  background-color: var(--black);
  width: 100%;
}
.hero-section1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 1091px) {
  .hero-section1 {
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* padding-top: 2rem;
      padding-bottom: 2rem;    */
  }
}

@media screen and (max-width: 768px) {
  .hero-section1 {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
