.aboutus-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10%;
}
.heading {
  color: var(--white);
  font-weight: 600;
  font-size: 3.375rem;
}
.left-section {
  width: 100%;
  border-right: 1px solid #6a6a6a;
}
.sub-heading {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.about-right {
  width: 100%;
}
@media (max-width: 640px) {
  .aboutus-wrapper {
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-section,
  .sub-heading {
    border: none;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 12px;
  }
}
