.whyusWrapper{
    display: flex;
    align-items: center;
    gap:4rem;
    flex-direction: column;
   /* width: 100%; */
   margin: 0 auto;
}
.card-outer{
    
    display: flex;
    align-items: center;
    justify-content:center;
    
    width:100%;
}
.card-wrapper{
 /* display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start; */
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap:4rem;
 /* flex-wrap: wrap; */
 
}
@media screen and (max-width:1200px) {
    .card-wrapper{
        /* flex-wrap:wrap; */
        gap:2rem;
    }
    
}
@media screen and (max-width:1091px) {
    .card-wrapper{
        /* flex-wrap:wrap; */
        gap:3rem;
        grid-template-columns:repeat(2,1fr);
    }
    
}
@media screen and (max-width:768px) {
    .card-wrapper{
        gap:2rem;
    }
    
}
@media screen and (max-width:640px) {
 .card-outer{
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
 }
 .card-wrapper{
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    grid-template-columns:repeat(1,1fr);
 }
 .whyusWrapper{
    gap:1.5rem;
 }   
}

