.teamWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  text-align: center;
}
.teamDetail {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3rem;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .teamDetail {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }
  .teamWrapper {
    gap: 2rem;
  }
}
