.card-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}
.card-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
}
.sub-heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
}
.para {
  font-size: 14px;
}
.btn {
  padding: 12px 22px;
  background-color: var(--yellow);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border-radius: 23.5px;
  width: max-content;
  border: none;
  outline: none;
  color: var(--black);
}
.btn:hover {
  filter: brightness(0.8);
}
.imgContainer {
  width: 101px;
  height: 101px;
  border-radius: 50%;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.designation {
  font-size: 14px;
  color: var(--white);
  padding-top: 1rem;
}
@media screen and (max-width: 1200px) {
  .card {
    flex-grow: 1;
  }
}
@media screen and (max-width: 1091px) {
  .card {
    /* flex-wrap: wrap; */
  }
}
@media (max-width: 640px) {
  .card {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
