.heading {
  font-size: 54px;
  font-weight: 600;
  color: var(--white);
}

@media (max-width: 1280px) {
  .heading {
    font-size: 3.5rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .heading {
    font-size: 2.5rem;
  }
}

/* md */
@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .heading {
    font-size: 2.5rem;
    text-align: center;
  }
}

/* xs */
@media (max-width: 475px) {
  .heading {
    font-size: 2.2rem;

    /* padding-right:10px */
  }
}
