.practiceAreaWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  text-align: center;
}
.gallary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  overflow: hidden;
}
.even-1 {
  grid-column: 1 / span 2;
  position: relative;
}
.even-2 {
  grid-column: 3 / span 3;
  position: relative;
}
.odd-1 {
  grid-column: 1;
  position: relative;
}
.odd-2 {
  grid-column: 2 / span 4;
  position: relative;
}
.odd-1,
.odd-2,
.even-1,
.even-2 {
  overflow: hidden;
}
.odd-1 img,
.odd-2 img,
.even-1 img,
.even-2 img {
  z-index: -1;
  width: 100%;
  height: 100%;
}
.odd-1 img:hover,
.odd-2:hover,
.even-1:hover,
.even-2:hover {
  filter: brightness(1.5);
}
.img-caption {
  color: var(--white);
  font-weight: 600;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: max-content;
}

@media screen and (max-width: 768px) {
  .img-caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .img-caption {
    font-size: 14px;
  }
  .practiceAreaWrapper {
    gap: 2rem;
  }
}
@media (max-width: 450px) {
  .img-caption {
    font-size: 9px;
  }
}
